.header h1{
    text-align: center;
}
body{
    background-color: aqua;
    border: 5px solid rgb(201, 50, 50); 
}
hr{
    border-width: 5px;
margin: 5%;
}

h1{
    text-align: center;
}
img{

}
.center{
   border-image-width: 300px;
   border-right: black;
}